body {
  margin:0;
  background-color: #F5F5F5;
}

.header {
    padding: 0;
    margin: 0;
    font: 90px rockwell;
    text-align: center;
    border: 1px solid black;
    background-color: #19270F;
  }

#cuerpo {
    width: 1150px;
    margin: auto;
    border: 1px solid black;
  }
.uvm {
  color:#88C426
}
.sport {
  color:white
}
.agrupar {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #E4E0E0;
  padding-top: 13px;
  padding-bottom: 16px;
  padding-left: 10px;
  font: bold 20px Georgia;
}

.linkRegistro {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 4px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  background-color: gray;
  border-radius: 2px;
}

.linkSesion {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 4px;
  text-decoration: none;
  color: white;
  background-color: gray;
  border-radius: 2px;
}

.imagen {
  background-color:#E4E0E0;
  padding:0;
  width: fit-content;
  text-align: center;
}

.imagenCap {
  font: bold Calibri;
  font-weight: bold;
  color:#464748;
  padding-left: 5px;
  padding-bottom: 5px;
  text-align: left;
}

.video {
  background-color:#E4E0E0;
  padding:0;
  width: fit-content;
}

.videoCaption {
  font-family: Calibri;
  font-weight: bold;
  color:#464748;
  padding-left: 5px;
  padding-bottom: 5px;
}

.otraNoticia {
  background-color: aqua;
}

.piePag {
background-color:#19270F;
color:#EFEDED;
font: bold 14px Arial;
padding-top: 28px;
padding-bottom: 28px;
padding-left: 37px;
margin-bottom: 0;
}

.contacto {
  text-align: center;
  background-color: #D6D0D0;
  padding-top: 15px;
  padding-bottom: 20px;
}

.contacto p {
  margin: 0;
  padding-bottom: 15px;
  font: bold 25px Calibri;
}

.contacto ul {
  display: inline;
  margin: 0;
}

.contacto ul li{
  list-style: none;
  display: inline-block;
  margin: 0;
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font: 20px Calibri;
}

.contacto img {
  height: 25px;
  width: auto;
  margin-right: 7px;
}

.contacto a {
  text-decoration: none;
  color: black;
}