body {
    margin:0;
  }
  
  .header {
      padding: 0;
      margin: 0;
      font-size: 90px;
      text-align: center;
      font-family: rockwell;
      border: 1px solid black;
      background-color: #19270F;
    }
  
  #cuerpo {
      width: 1000px;
      margin: auto;
      border: 1px solid black;
    }
  .uvm {
    color:#88C426
  }
  .sport {
    color:white
  }
  .agrupar {
    border: 1px solid black;
    margin: 0;
    padding: 0;
  }
  
  .nav {
    background-color: #E4E0E0;
    padding-top: 13px;
    padding-bottom: 16px;
    padding-left: 10px;
    font-size: 20px;
    font-family: Georgia;
  }
  
  .volverLink{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 4px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
    background-color: gray;
    border-radius: 6px;
  }

  .piePag {
    background-color:#19270F;
    color:#EFEDED;
    font-family: Arial;
    font-size: 14px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 37px;
    }